# @file
# .travis.yml - PKP Plugins Integration

dist: bionic
os: linux
language: php

addons:
  postgresql: "9.5"
  apt:
    update: true

sudo: required

php:
  - 7.4
  - 8.0
env:
  - APPLICATION=ojs BRANCH=main TEST=mysql
  - APPLICATION=ojs BRANCH=main TEST=pgsql
  - APPLICATION=omp BRANCH=main TEST=mysql
  - APPLICATION=omp BRANCH=main TEST=pgsql
  - APPLICATION=ops BRANCH=main TEST=mysql
  - APPLICATION=ops BRANCH=main TEST=pgsql

install:
  # Prepare OJS/OMP environment
  - git clone -b ${BRANCH} https://github.com/pkp/${APPLICATION} ~/${APPLICATION}
  - cd ~/${APPLICATION}
  - git submodule update --init --recursive
  - source lib/pkp/tools/travis/prepare-tests.sh
  - lib/pkp/tools/travis/prepare-webserver.sh
  # Build/install dependencies
  - lib/pkp/tools/travis/install-composer-dependencies.sh
  - npm i g -npm && npm install && npm run build
  # Make sure we're using the current checkout of this repo rather than the built-in OJS/OMP version
  - rm -rf ~/${APPLICATION}/plugins/generic/staticPages
  - mv ${TRAVIS_BUILD_DIR} ~/${APPLICATION}/plugins/generic/staticPages
  # Install OJS/OMP & prep data environment
  - git clone https://github.com/pkp/datasets
  - cp datasets/${APPLICATION}/${BRANCH}/${TEST}/config.inc.php .
  - cp -rf datasets/${APPLICATION}/${BRANCH}/${TEST}/public/* public/
  - cp -rf datasets/${APPLICATION}/${BRANCH}/${TEST}/files/* files/
  - ./datasets/tools/dbclient.sh < datasets/${APPLICATION}/${BRANCH}/${TEST}/database.sql
  # Some apps have this plugin installed as a submodule, so may already have the tables present.
  # If so, drop them (ignoring errors if they don't already exist).
  - php lib/pkp/tools/migration.php "\APP\plugins\generic\staticPages\StaticPagesSchemaMigration" down || true

script:
  - php lib/pkp/tools/migration.php "\APP\plugins\generic\staticPages\StaticPagesSchemaMigration" up
  - $(npm bin)/cypress run --config integrationFolder=plugins/generic/staticPages/cypress/tests

after_failure:
  - cat error.log
  - sudo apt-get install sharutils
  - tar cz cypress/screenshots | uuencode /dev/stdout
